[defaults]
inventory = inventories/prod/hosts.ini
roles_path = roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
callback_result_format = yaml
callback_format_pretty = true
interpreter_python = auto_silent
timeout = 30
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/.ansible/tmp

[ssh_connection]
pipelining = True
# Avoid writing SSH control sockets under ~/.ansible (can be blocked in some sandboxed envs).
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path_dir = /tmp/ansible-cp
control_path = %(directory)s/%%h-%%p-%%r
