BLAZOR_IMAGE=youngmizh/saaslms-blazor:metrics-1
DBMIGRATOR_IMAGE=youngmizh/saaslms-dbmigrator:final-1
AUTHSERVER_IMAGE=youngmizh/saaslms-authserver:sha-REQUIRED
GATEWAY_IMAGE=youngmizh/saaslms-gateway-web:metrics-1
SAAS_IMAGE=youngmizh/saaslms-saas:sha-REQUIRED
ADMINISTRATION_IMAGE=youngmizh/saaslms-administration:sha-REQUIRED
IDENTITY_IMAGE=youngmizh/saaslms-identity:sha-REQUIRED
PRODUCT_IMAGE=youngmizh/saaslms-product:sha-REQUIRED
COURSECATALOG_IMAGE=youngmizh/saaslms-coursecatalog:awsfix-20260420-3
ENROLLMENT_IMAGE=youngmizh/saaslms-enrollment:sha-REQUIRED
ASSESSMENT_IMAGE=youngmizh/saaslms-assessment:awsfix-20260420-2
LEARNINGPROGRESS_IMAGE=youngmizh/saaslms-learningprogress:sha-REQUIRED
NOTIFICATION_IMAGE=youngmizh/saaslms-notification:sha-REQUIRED
REPORTING_IMAGE=youngmizh/saaslms-reporting:sha-REQUIRED
