BLAZOR_IMAGE=youngmizh/saaslms-blazor:metrics-1
DBMIGRATOR_IMAGE=youngmizh/saaslms-dbmigrator:final-1
AUTHSERVER_IMAGE=youngmizh/saaslms-authserver:latest
GATEWAY_IMAGE=youngmizh/saaslms-gateway-web:metrics-1
SAAS_IMAGE=youngmizh/saaslms-saas:latest
ADMINISTRATION_IMAGE=youngmizh/saaslms-administration:latest
IDENTITY_IMAGE=youngmizh/saaslms-identity:latest
PRODUCT_IMAGE=youngmizh/saaslms-product:latest
COURSECATALOG_IMAGE=youngmizh/saaslms-coursecatalog:awsfix-20260420-3
ENROLLMENT_IMAGE=youngmizh/saaslms-enrollment:latest
ASSESSMENT_IMAGE=youngmizh/saaslms-assessment:awsfix-20260420-2
LEARNINGPROGRESS_IMAGE=youngmizh/saaslms-learningprogress:latest
NOTIFICATION_IMAGE=youngmizh/saaslms-notification:latest
REPORTING_IMAGE=youngmizh/saaslms-reporting:latest
