BLAZOR_IMAGE=youngmizh/saaslms-blazor:sha-REQUIRED
DBMIGRATOR_IMAGE=youngmizh/saaslms-dbmigrator:sha-REQUIRED
AUTHSERVER_IMAGE=youngmizh/saaslms-authserver:sha-REQUIRED
GATEWAY_IMAGE=youngmizh/saaslms-gateway-web:sha-REQUIRED
SAAS_IMAGE=youngmizh/saaslms-saas:sha-REQUIRED
ADMINISTRATION_IMAGE=youngmizh/saaslms-administration:sha-REQUIRED
IDENTITY_IMAGE=youngmizh/saaslms-identity:sha-REQUIRED
PRODUCT_IMAGE=youngmizh/saaslms-product:sha-REQUIRED
COURSECATALOG_IMAGE=youngmizh/saaslms-coursecatalog:sha-REQUIRED
ENROLLMENT_IMAGE=youngmizh/saaslms-enrollment:sha-REQUIRED
ASSESSMENT_IMAGE=youngmizh/saaslms-assessment:sha-REQUIRED
LEARNINGPROGRESS_IMAGE=youngmizh/saaslms-learningprogress:sha-REQUIRED
NOTIFICATION_IMAGE=youngmizh/saaslms-notification:sha-REQUIRED
REPORTING_IMAGE=youngmizh/saaslms-reporting:sha-REQUIRED
