networks:
  {{ monitoring_stack_network_name }}:
    external: true

configs:
  promtail-config:
    file: {{ monitoring_promtail_config_file }}

services:
  node-exporter:
    image: prom/node-exporter:v1.9.1
    command:
      - --path.rootfs=/host
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
    volumes:
      - /:/host:ro,rslave
    networks:
      - {{ monitoring_stack_network_name }}
    ports:
      - target: 9100
        published: 9100
        protocol: tcp
        mode: host
    deploy:
      mode: global
      restart_policy:
        condition: any
        delay: 5s
      placement:
        constraints:
          - node.platform.os == linux

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    command:
      - --docker_only=true
      - --housekeeping_interval=30s
      - --store_container_labels=true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /dev/disk:/dev/disk:ro
      - /var/lib/docker:/var/lib/docker:ro
    networks:
      - {{ monitoring_stack_network_name }}
    ports:
      - target: 8080
        published: 8088
        protocol: tcp
        mode: host
    deploy:
      mode: global
      restart_policy:
        condition: any
        delay: 5s
      placement:
        constraints:
          - node.platform.os == linux

  promtail:
    image: grafana/promtail:3.1.1
    command:
      - -config.file=/etc/promtail/config.yml
    configs:
      - source: promtail-config
        target: /etc/promtail/config.yml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /etc/hostname:/etc/host_hostname:ro
    networks:
      - {{ monitoring_stack_network_name }}
    deploy:
      mode: global
      restart_policy:
        condition: any
        delay: 5s
      placement:
        constraints:
          - node.platform.os == linux
