apiVersion: 1

providers:
  - name: saaslms
    orgId: 1
    folder: saaslms
    type: file
    disableDeletion: false
    editable: true
    updateIntervalSeconds: 30
    options:
      path: /etc/grafana/dashboards
